<a href=""></a>
<div class="py-4 px-6 rounded mb-2 max-w-4xl container mx-auto pt-5">
  <h2 class="mt-2 mb-4 text-center text-3xl font-bold tracking-tight text-gray-900">
    List of items</h2>
  <div class="flex flex-row">
    <input type="text"
           placeholder="Search..."
           class="input input-bordered w-full mb-2 mr-2 flex-auto " [(ngModel)]="term"/>
    <button class="btn bg-blue-700 border-blue-600 hover:border-blue-50 hover:bg-blue-800"
            routerLink="/items/create"
            routerLinkActive="active">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="relative overflow-auto">

    <div class="overflow-x-auto border rounded-lg">
      <table class="table table-compact w-full">
        <!-- head -->
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Size</th>
          <th>Description</th>
          <th>Color</th>
          <th>Price</th>
          <th>Images</th>
          <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        <!-- row -->
        <tr *ngFor="let item of itemsService.itemsArr | searchItem:term; let i = index;"
            class="hover"
            (click)="viewItem(item.id)">
          <th>{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.size}}</td>
          <td>{{item.description}}</td>
          <td>{{item.color}}</td>
          <td>{{item.price}}</td>
          <td>{{item.images}}</td>
          <td>{{item.owner}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


