<div class="py-4 px-6 rounded mb-2">
  <h2 class="mt-2 mb-3 text-center text-3xl font-bold tracking-tight text-gray-900">List of people</h2>
  <input type="text"
         class="mb-3 mt-2 border rounded py-2 px-4 w-full"
         placeholder="Search..."
         [(ngModel)]="term">
  <div class="relative overflow-auto">
    <div class="border rounded my-3">
      <table class="table-auto w-full border-gray-300">
        <thead>
        <tr>
          <th class="border-b  p-4 pl-8 pt-2 pb-3 text-left
                     text-sm font-medium text-gray-500">Id</th>
          <th class="border-b  p-4 pl-8 pt-2 pb-3 text-left
                     text-sm font-medium text-gray-500">Name</th>
          <th class="border-b  p-4 pl-8 pt-2 pb-3 text-left
                     text-sm font-medium text-gray-500">Lastname</th>
          <th class="border-b  p-4 pl-8 pt-2 pb-3 text-left
                     text-sm font-medium text-gray-500">Email</th>
          <th class="border-b  p-4 pl-8 pt-2 pb-3 text-left
                     text-sm font-medium text-gray-500">Password</th>
        </tr>
        </thead>
        <tbody class="bg-white">
        <tr *ngFor="let admin of adminsService.adminsArr | search:term; let i = index;"
            (click)="viewPerson(person.id)"
            class="hover:bg-gray-100">
          <td class="border-b p-4 pl-8 pt-2 pb-2 text-left
                    text-sm text-gray-900 sm:col-span-2 sm:mt-0"
          >{{person.fullName}}</td>
          <td class="border-b p-4 pl-8 pt-2 pb-2 text-left
                    text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{2022-person.yearOfBirth}}</td>
          <td class="border-b p-4 pl-8 pt-2 pb-2 text-left
                    text-sm text-gray-900 sm:col-span-2 sm:mt-0"
          >
            <div *ngIf="check(person); else elseBlock">
              <h2 *ngFor="let book of person.books">
                {{book.title}}, {{book.author}}, {{book.year}}
              </h2>
            </div>
            <ng-template #elseBlock>
              <h2>
                —
              </h2>
            </ng-template>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="flex flex-row-reverse ">
    <a routerLink="/create-person"
       routerLinkActive="active"
       class="border rounded bg-black text-white px-2 py-1 text-sm
                hover:border-indigo-500"
    >+ Add</a>
  </div>
</div>

