<div class="py-4 px-6 rounded mb-2 max-w-2xl container mx-auto pt-5">
  <div class="alert alert-success shadow-lg mb-4" *ngIf="admins">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span>Your purchase has been confirmed!</span>
    </div>
  </div>
  <h2 class="mt-2 mb-4 text-center text-3xl font-bold tracking-tight text-gray-900">List of admins</h2>
  <div class="flex flex-row">
    <input type="text"
           placeholder="Search..."
           class="input input-bordered w-full mb-2 mr-2 flex-auto " [(ngModel)]="term"/>
    <button class="btn bg-blue-700 hover:bg-blue-800"
            routerLink="/admin-create"
            routerLinkActive="active">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="relative overflow-auto">

    <div class="overflow-x-auto border rounded-lg">
      <table class="table table-compact w-full">
        <!-- head -->
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
        </thead>
        <tbody>
        <!-- row -->
        <tr *ngFor="let admin of adminsService.adminsArr | searchAdmin:term; let i = index;"
            class="hover"
            (click)="viewAdmin(admin.id)">
          <th>{{admin.id}}</th>
          <td>{{admin.firstname}}</td>
          <td>{{admin.lastname}}</td>
          <td>{{admin.email}}</td>
          <td>{{admin.password}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


