<div class="p-12 pt-6 bg-white">
  <div class="flex flex-row">
    <div class="basis-1/2">
      <img class="w-[20px]" src="/assets/img/icons/qr-icon.png" alt="icon">
    </div>
    <div class="basis-1/2 flex items-center justify-center">
      <a href="" class="mr-4 font-medium text-black-500 hover:text-gray-900 border-b-black">Products</a>
      <a href="" class="mr-4 font-medium text-gray-500 hover:text-gray-900">Catalog</a>
      <a href="" class="mr-4 font-medium text-gray-500 hover:text-gray-900">Company</a>
    </div>
    <div class="basis-1/2 flex flex-row-reverse items-center">
<!--      <mat-icon class="mr-2 opacity-80">perm_identity</mat-icon>-->
<!--      <mat-icon class="mr-2 opacity-80" >shopping_cart</mat-icon>-->
<!--      <mat-icon class="mr-2 opacity-80">favorite_border</mat-icon>-->
    </div>
  </div>
</div>

