<div class="p-12 pb-6 pt-6 bg-white border-b">
  <div class="flex flex-row">
    <div class="basis-1/2">
      <img class="w-[20px]" src="/assets/img/icons/qr-icon-blue.png" alt="icon">
    </div>
    <div class="basis-1/2 flex items-center justify-center">
      <a href="/admins" class="mr-4 font-medium tracking-tight text-gray-500 hover:text-gray-900">Admins</a>
      <a href="/clients" class="mr-4 font-medium tracking-tight text-gray-500 hover:text-gray-900">Clients</a>
      <a href="/items" class="mr-4 font-medium tracking-tight text-gray-500 hover:text-gray-900">Items</a>
    </div>
    <div class="basis-1/2 flex flex-row-reverse items-center">
      <mat-icon class="mr-2 opacity-80">perm_identity</mat-icon>
    </div>
  </div>
</div>

