<div class="navbar py-2 px-10 fixed glass z-40">
  <div class="navbar-start ml-4">
    <a class=" p-0 w-auto normal-case">
      <div class="basis-1/5 flex -ml-5 flex-row items-center">
        <img class="w-[20px] mr-2" src="/assets/img/icons/qr-icon.png" alt="icon">
        <span class="font-oceanwide uppercase text-black opacity-95 tracking-tight font-bold">Admin — Adilet</span>
      </div>
    </a>
  </div>
  <div class="navbar-center">
    <a href="/admins" class="tracking-tight mr-2">Admins</a>
    <a href="/clients" class="tracking-tight mr-2">Clients</a>
    <a href="/items" class="tracking-tight">Items</a>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <mat-icon>logout</mat-icon>
        </div>
      </label>
    </div>
  </div>
</div>
